<tr>

	<td class="l">
		<%= image_tag "defensas/defensa_#{defensa.tipo}.gif" %>
	</td>

	<td class="l">
		<%= link_to defensa.class.model_name.human, '#' %><br />

		<%= t "defensas.#{defensa.tipo}.resumen" %><br />

		<b>Requiere:</b>
		<% if defensa.metal.costo > 0 %>
			Metal: <b><%= content_tag :span, number_with_delimiter(defensa.metal.costo), class: (current_planeta.puede_pagar?(defensa.metal, nil, nil, nil) ? :verde : :rojo) %></b>
		<% end %>
		<% if defensa.cristal.costo > 0 %>
			Cristal: <b><%= content_tag :span, number_with_delimiter(defensa.cristal.costo), class: (current_planeta.puede_pagar?(nil, defensa.cristal.costo, nil, nil) ? :verde : :rojo) %></b>
		<% end %>
		<% if defensa.deuterio.costo > 0 %>
			Deuterio: <b><%= content_tag :span, number_with_delimiter(defensa.deuterio.costo), class: (current_planeta.puede_pagar?(nil, nil, defensa.deuterio.costo, nil) ? :verde : :rojo) %></b>
		<% end %>
		<% if defensa.energia.costo > 0 %>
			Energía: <b><%= content_tag :span, number_with_delimiter(defensa.energia.costo), class: (current_planeta.puede_pagar?(nil, nil, nil, defensa.energia.costo) ? :verde : :rojo) %></b>
		<% end %>

		<br />

		Tiempo: <%= ChronicDuration.output defensa.duracion_expansion(current_planeta), format: :short %>

		<% if !defensa.puede_costearse?(current_planeta) %>
			<br />
			<br />
			<b>Aún faltan:</b>
			Metal: <b><%= content_tag :span, costo_faltante(defensa.metal.costo, current_planeta.recurso_metal), class: :violeta %></b>
			Cristal: <b><%= content_tag :span, costo_faltante(defensa.cristal.costo, current_planeta.recurso_cristal), class: :violeta %></b>
			Deuterio: <b><%= content_tag :span, costo_faltante(defensa.deuterio.costo, current_planeta.recurso_deuterio), class: :violeta %></b>
			Energía: <b><%= content_tag :span, costo_faltante(defensa.energia.costo, current_planeta.recurso_energia), class: :violeta %></b>
		<% end %>
	</td>

	<td class="k">
    <%= f.input "cantidad_defensa_#{defensa.tipo}", label: false %>
    (Max: 1)
	</td>

</tr>
