<div id='leftmenu'>

  <center>
    <div id='menu'>

    <p>
      <span class="server">OGameOnRails</span>
      <br /><span class="servername">Universo <%= current_universo.nombre %></span>
  	</p>

    <table width="110" cellspacing="0" cellpadding="0" style="text-align:center">
      <tr><td class="info-menu"><%= image_tag 'skin/info-skin.jpg' %></td></tr>

      <tr><td><%= link_to t_menu(:vision_general), current_cuenta %></td></tr>
      <tr><td><%= link_to t_menu(:edificios), edificios_path %></td></tr>
      <tr><td><%= link_to t_menu(:recursos), recursos_path %></td></tr>
      <tr><td><%= link_to t_menu(:investigacion), tecnologias_path %></td></tr>
      <tr><td><%= link_to t_menu(:hangar), naves_path %></td></tr>
      <tr><td><%= link_to t_menu(:flota), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:tecnologia), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:galaxia), galaxias_path(numero_galaxia: current_planeta.numero_galaxia, numero_sistema: current_planeta.numero_sistema) %></td></tr>
      <tr><td><%= link_to t_menu(:defensa), defensas_path %></td></tr>

      <tr><td class="info-menu"><%= image_tag 'skin/info-help.jpg' %></td></tr>

      <tr><td><%= link_to t_menu(:alianzas), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:estadisticas), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:buscar), '#', class: 'muted' %></td></tr>

      <tr><td class="info-menu"><%= image_tag 'skin/user-menu.jpg' %></td></tr>

      <tr><td><%= link_to t_menu(:mensajes), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:notas), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:lista_de_companeros), '#', class: 'muted' %></td></tr>
      <tr><td><%= link_to t_menu(:salir), '#', class: 'muted' %></td></tr>

    </table>
  </center>

</div>
