<!DOCTYPE html>
<html>
  <head>
    <title>Ogame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :application, 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
	<body style="overflow: hidden;">
	  <div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>

		<%= render 'header' %>
    <%= render 'nav' %>

		<center>
  		<br />

  		<div id="content">
  			<%= bootstrap_flash %>
  			<%= yield %>
  		</div>

    </center>

	</body>
</html>
